@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-family: 'Poppins-Bold';
    src:local('Poppins-Bold'), url('../fonts/Poppins-Bold.ttf') format('truetype');
}

* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    height: 95vh;
    padding: 15px;
    letter-spacing: 1.5px;
    justify-content: space-around;
}

.container {
    font-family: Poppins, monospace;
    font-size: 5vw;
}

.title {
    text-align: center;
    margin-top: 0;
    font-size: 10vw;
    font-family: Poppins-Bold;
}