@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src:local('Poppins-Bold'), url('../fonts/Poppins-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    /* box-sizing: border-box; */
    /* background-color: #5688C7; 
    background: linear-gradient(#e66465, #9198e5);   */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    min-width: 100vw;
    padding: 15px;
    padding-bottom: 30px;
    letter-spacing: 1.5px;
    justify-content: space-around;
    background: linear-gradient(#e66465, #9198e5);
    color: white;
    text-shadow: 1px 1px 1px #1f1e1e;
    font-family: Poppins, monospace;
    font-size: 5vw;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-top: 0;
    font-size: 8vw;
    font-family: Poppins-Bold;
}