.counter, .iterator {
    display: flex;
}

.counter {
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin: 5px 0;
}

.iterator {
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.iterator .count {
    font-size: 4rem;
    margin: 15px 0;
}

.iterator button {
    height: 45px;
    width: 45px;
    border-radius: 60%;
    border: none;
    font-size: 2rem;
}