.counter, .iterator {
    display: flex;
}

.counter {
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin: 5px 0;
    /* border: 1px solid black; */
}

.iterator {
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    position: relative;
    left: 5px;
}

.iterator .count {
    font-size: 15vw;
    margin: 15px -10px 15px 0;
}

.iterator button {
    /* height: 60px;
    width: 60px; */
    /* border-radius: 60%; */
    border: none;
    font-size: 4rem;
    background-color: transparent;
    color: white;
    text-shadow: 1px 1px 1px #1f1e1e;
}