.buttonContainer {
    display: flex;
}

.start, .stop, .pause {
    width: 60px;
    padding: 15px 30px;
    /* border-radius: 4px; */
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: 600;
    height: 60px;
    font-size: 20px;
    background-color: transparent;
}

.timerButton button, .stopButton button {
    border: none;
    background-color: transparent;
}

.start {
    /* background-color: green; */
    color: green;
}

.pause {
    /* background-color: gray; */
    color: #e66465;
}

.stop {
    /* background-color: red; */
    color: red;
}
